* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #434c5e;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid yellow;
}

.nav-bar {
  padding: 1rem 2rem;
  /* border: 2px solid red; */
}
.nav-list {
  display: inline-block;
  border: 2px solid red;
  width: 100%;
}

.nav-item {
  border: 2px solid green;
  /* float: left; */
  /* display: inline; */
  list-style: none;
}
.nav-item a {
  color: white;
  text-decoration: none;
}
.nav-right {
  /* float: right; */
  /* margin-left: 20px; */
  /* margin-right: 
  auto; */
  float: right;
  /* margin-left: auto; */
}
.nav-right button {
  padding: 0.4rem 1rem;
  margin-right: 1rem;
  background-color: gainsboro;
  color: #434c5e;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  /* font-size: ; */
}
.nav-center {
  /* clear: right; */
  float: left;
  width: 65%;
  /* height: 100%; */
  /* clear: left; */
  /* border: 2px solid yellow; */
  /* width: 40px; */
  /* margin-left: auto; */
  /* margin-right: 40px; */
  margin: 0 5%;
  /* margin-left: auto; */
  /* float: none; */
  /* clear: both; */
}
.nav-center a {
  margin: 0 50%;
  border: 2px solid blue;
  color: white;
}

.nav-left {
  float: left;
  margin: 0 1rem;
  font-size: 0.85rem;
  font-weight: 500;
}
.landing-page {
  border: 1px solid #434c5e;
  background-color: #434c5e;
  color: aliceblue;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 3rem;
}
.landing-page h1 {
  margin-top: 8rem;
  font-size: 3rem;
}
.landing-page p,
.page-text {
  text-align: center;
  margin: 3rem auto;
  font-size: 1rem;
  /* font-weight: 300; */
  width: 48rem;
  line-height: 1.3rem;
  word-spacing: 0.3rem;
  letter-spacing: 0.08rem;

  /* border: 2px solid yellow; */
}

.landing-page span {
  font-size: 0.75rem;
  color: black;
  font-style: oblique;
  display: inline-block;
  /* margin-bottom: 7rem; */
  /* border: 2px solid red; */
  margin-top: 2rem;
  word-spacing: 0.3rem;
}
.section-why {
  text-align: center;
  margin-top: 4rem;
  padding-bottom: 3rem;
}
.section-why p {
  margin-top: 1rem;
  width: 80%;
  max-width: 30rem;
}
.section-card {
  /* border: 2px solid yellow; */
  display: block;
  background-color: rgb(192, 192, 192);
  display: inline-block;
  width: 100%;
  padding: 3rem 0;
}
.card {
  max-width: 30rem;
  width: 100%;
  padding: 2rem;
  margin: 0 10%;
  text-align: center;
}
.card div {
  width: 80%;
  height: 12rem;
  background-color: #434c5e;
  margin: 2rem auto;
}
.card p {
  margin-top: 1rem;
}
.card button {
  border: 1.5px solid #242526;
  padding: 0.7rem 1.4rem;
  margin-top: 2rem;
  background-color: rgb(192, 192, 192);
}
.card-left {
  float: left;
  margin-right: 1rem;
}
.card-right {
  float: right;
  margin-left: 1rem;
}
.section-volunteer {
  text-align: center;
  padding-bottom: 3rem;
}
.section-volunteer h1 {
  margin-top: 5rem;
}
.section-volunteer p {
  /* margin-top: 5rem; */
  /* margin-top: 1rem; */
  margin: 2rem auto;
  width: 80%;
  max-width: 30rem;
}
.section-volunteer button {
  /* margin-top: 5rem; */
  border: 1.5px solid #242526;
  padding: 0.7rem 1.4rem;
  /* margin-top: 2rem; */
  background-color: white;
}
footer {
  display: inline-block;
  width: 100%;
  background-color: #434c5e;
  color: white;
  padding: 1.5rem;
}
footer section {
  border: 2px solid gold;
}
.footer-left {
  float: left;
  margin-bottom: 0.7rem;
}
.footer-right {
  float: right;
  margin-bottom: 0.7rem;
}
.footer-bottom {
  clear: both;
  font-size: 0.75rem;
  font-weight: bold;
  margin-top: 0.6rem;
}
