* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
  background-color: #434c5e;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
  padding: 1rem 2rem;
}
.nav-list {
  display: inline-block;

  width: 100%;
}

.nav-item {
  list-style: none;
}
.nav-item a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.nav-right {
  float: right;
}
.nav-right button {
  padding: 0.4rem 1rem;
  margin-right: 1rem;
  background-color: gainsboro;
  color: #434c5e;
  border: none;
  border-radius: 3px;
  font-weight: bold;
}
.nav-center {
  float: left;
  width: 65%;
  margin: 0 5%;
}
.nav-center a {
  margin: 0 50%;
  color: white;
  width: 3rem;
  height: 100%;
}
.nav-center a img {
  object-fit: cover;
  color: white;
  width: 3rem;
}

.nav-left {
  float: left;
  margin: 0 1rem;
  font-size: 0.85rem;
  font-weight: 500;
}
.landing-page {
  border: 1px solid #434c5e;
  background-color: #434c5e;
  color: aliceblue;
  text-align: center;
  padding-bottom: 3rem;
}
.landing-page h1 {
  margin-top: 8rem;
  font-size: 3.2rem;
}
.landing-page p,
.page-text {
  text-align: center;
  margin: 3rem auto;
  font-size: 1rem;
  width: 55rem;
  line-height: 1.3rem;
  word-spacing: 0.3rem;
  letter-spacing: 0.08rem;
}
.landing-page span {
  font-size: 0.75rem;
  color: black;
  font-style: oblique;
  display: inline-block;
  margin-top: 2rem;
  word-spacing: 0.3rem;
}

.section-why {
  text-align: center;
  margin-top: 4rem;
  padding: 3rem 0;
}
.section-why h1 {
  font-size: 2.5rem;
}
.section-why p {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #434c5e;
  width: 80%;
  max-width: 30rem;
}

.section-card {
  display: block;
  background-color: rgb(192, 192, 192);
  display: inline-block;
  width: 100%;
  padding: 3rem 0;
}
.card {
  max-width: 30rem;
  width: 100%;
  padding: 2rem;
  margin: 0 10%;
  text-align: center;
}
.card div {
  width: 80%;
  height: 12rem;
  background-color: #434c5e;
  margin: 2rem auto;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.card p {
  margin-top: 1rem;
  color: #434c5e;
  font-size: 0.9rem;
}
.card button {
  border: 1.5px solid #242526;
  padding: 0.7rem 1.4rem;
  margin-top: 2rem;
  background-color: rgb(192, 192, 192);
}
.card-left {
  float: left;
  margin-right: 1rem;
}
.card-right {
  float: right;
  margin-left: 1rem;
}

.section-volunteer {
  text-align: center;
  padding: 3rem 0;
}
.section-volunteer h1 {
  font-size: 1.8rem;
}
.section-volunteer p {
  margin: 2rem auto;
  width: 80%;
  font-size: 0.9rem;
  color: #434c5e;
  max-width: 30rem;
}
.section-volunteer button {
  border: 1.5px solid #242526;
  padding: 0.7rem 1.4rem;
  background-color: white;
}

footer {
  display: inline-block;
  width: 100%;
  background-color: #000000;
  color: white;
  padding: 1.5rem;
}
.footer-left {
  float: left;
  margin-bottom: 0.7rem;
}
.footer-right {
  float: right;
  margin-bottom: 0.7rem;
  margin-right: 5rem;
  width: 8rem;
}
.footer-right h3 {
  font-size: 0.7rem;
  margin-bottom: 0.4rem;
}
.footer-right p {
  font-size: 0.8rem;
  color: grey;
}
.footer-left p {
  float: left;
  margin-right: 1rem;
  margin-bottom: 0.4rem;
  font-size: 0.8rem;
}
.footer-left h3 {
  color: grey;
  font-size: 0.7rem;
  clear: both;
  margin: 0.4rem 0;
}
.footer-left a,
.footer-right a {
  color: white;
  text-decoration: none;
}
.footer-bottom {
  clear: both;
  font-size: 0.75rem;
  font-weight: bold;
  margin-top: 0.6rem;
  border-top: 2px solid grey;
  padding-top: 1rem;
}
.footer-bottom h3 {
  width: 70%;
  font-size: 0.8rem;
}
.footer-bottom img {
  width: 2rem;
  float: right;
}
